# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/3 different atan implementations.xls
/.vs
/x64
/golf_flight_sim/tracy
/golf_flight_sim/src/math/MatMN.cpp
/golf_flight_sim/src/math/MatMN.h
/golf_flight_sim/src/math/vecn.h
/golf_flight_sim/src/math/vecn.cpp
/golf_flight_sim/.clang-tidy
/golf_flight_sim/x64/Debug
/golf_flight_sim/x64/Release
/golf_flight_sim/src/a.cpp
/.tmp.driveupload
/Installer
*.bat
/golf_flight_sim/imgui.ini
/golf_flight_sim/open cmd and run shell.bat.lnk
/build flags.txt
/batch/Release
